In [2]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from datetime import date

# Create empty dfs

In [97]:
# works
works_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'name': pd.Series(dtype = 'str'),
    'client_id': pd.Series(dtype = 'int'),
    'type_id': pd.Series(dtype = 'int'),
    'deposit': pd.Series(dtype = 'int'),
    'price': pd.Series(dtype = 'int'),
    'deposited': pd.Series(dtype = 'int'),
    'fully_paid': pd.Series(dtype = 'int'),
    'memo': pd.Series(dtype = 'str'),
    'client_requests': pd.Series(dtype = 'str'),
    'attachments': pd.Series(dtype = 'str')  # attachments separated by ,
})

In [98]:
# clients
clients_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'client': pd.Series(dtype = 'str'),
    'active': pd.Series(dtype = 'int'),
    'order': pd.Series(dtype = 'int')
})

In [99]:
# types
types_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'type': pd.Series(dtype = 'str'),
    'active': pd.Series(dtype = 'int'),
    'order': pd.Series(dtype = 'int')
})

In [100]:
# pre set status
status_df = pd.DataFrame({
    'id': [0, 1, 2, 3, 4, 5, 6],
    'status': [
        '预约/讨论',
        '确定开始',
        '已出demo',
        '修改细节',
        '工作完成',
        '取消',
        '其他'
    ]})

In [101]:
# status_log
status_log_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'work_id': pd.Series(dtype = 'str'),
    'status_id': pd.Series(dtype = 'int'),
    'start_date': pd.Series(dtype = 'datetime64[ns]'),
    'end_date': pd.Series(dtype = 'datetime64[ns]'),
    "timestamp": pd.Series(dtype = 'datetime64[ns]')
})

In [102]:
works_df.to_csv("works.csv", index = False)
clients_df.to_csv("clients.csv", index = False)
types_df.to_csv("types.csv", index = False)
status_df.to_csv("status.csv", index = False)
status_log_df.to_csv("status_log.csv", index = False)

# Add test data

In [ ]:
today = pd.to_datetime('today')
today

In [64]:
works0 = pd.DataFrame({'id': [0],
          'name': ["小星星"],
          'client_id': [1],
          'type_id': [1],
          'deposit': [1000],
          'price': [2000],
          'deposited': [1],
          'fully_paid': [0],
          'memo': ["加急"],
          'client_requests': ["request1"],
          'attachments': ['']          
         })
# works = works.append(works1, ignore_index = True)
works_df = pd.concat([works_df, works0])

In [65]:
works1 = pd.DataFrame({'id': [1],
          'name': ["欢乐颂"],
          'client_id': [0],
          'type_id': [0],
          'deposit': [3000],
          'price': [5000],
          'deposited': [0],
          'fully_paid': [0],
          'memo': ["做欢快点儿"],
          'client_requests': ["request2"],
          'attachments': ['']          
         })
# works = works.append(works2, ignore_index = True)
works_df = pd.concat([works_df, works1])

In [59]:
client0 = {'id': 0,
          'client': "A老师",
           'active': 1,
           'order': "1"
         }
clients_df = clients_df.append(client0, ignore_index = True)

In [60]:
client1 = {'id': 1,
          'client': "B老师",
           'active': 1,
           'order': "2"
         }
clients_df = clients_df.append(client1, ignore_index = True)

In [54]:
type0 = {'id': 0,
          'type': "编曲",
           'active': 1,
           'order': "1"
         }
types_df = types_df.append(type0, ignore_index = True)

In [55]:
type1 = {'id': 1,
          'type': "扒带",
           'active': 1,
           'order': "2"
         }
types_df = types_df.append(type1, ignore_index = True)

In [102]:
status_log_df = pd.DataFrame({
    'id': [0, 1, 2, 3],
    'work_id': [1, 1, 2, 2],
    'status_id': [0, 1, 1, 3],
    'start_date': [dt(2022, 1, 1), dt(2022, 7, 11), dt(2022, 7, 1), dt(2022, 7, 3)],
    'end_date': [dt(2022, 2, 1), dt(2022, 11, 1), dt(2022, 7, 3), dt(2022, 10, 1)],
    'timestamp':[dt.now(), dt.now(), dt.now(), dt.now()]
})

In [103]:
status_log_df.at[1, 'timestamp'] = dt.now()

In [104]:
status_log_df.at[3, 'timestamp'] = dt.now()

In [26]:
works_df.to_csv("works.csv", index = False)
clients_df.to_csv("clients.csv", index = False)
types_df.to_csv("types.csv", index = False)
status_df.to_csv("status.csv", index = False)
status_log_df.to_csv("status_log.csv", index = False)

# Examine current dfs

In [3]:
works_df = pd.read_csv("works.csv")
status_log_df = pd.read_csv("status_log.csv", parse_dates = [3, 4, 5], date_parser = pd.to_datetime)
clients_df = pd.read_csv("clients.csv")
types_df = pd.read_csv("types.csv")
status_df = pd.read_csv("status.csv")

In [104]:
works_df

Empty DataFrame
Columns: [id, name, client_id, type_id, deposit, price, deposited, fully_paid, memo, client_requests, attachments]
Index: []

In [105]:
clients_df

Empty DataFrame
Columns: [id, client, active, order]
Index: []

In [106]:
types_df

Empty DataFrame
Columns: [id, type, active, order]
Index: []

In [107]:
status_log_df

Empty DataFrame
Columns: [id, work_id, status_id, start_date, end_date, timestamp]
Index: []

In [108]:
status_df

   id  status
0   0   预约/讨论
1   1    确定开始
2   2  已出demo
3   3    修改细节
4   4    工作完成
5   5      取消
6   6      其他

In [19]:
# grab the month/year to show

In [34]:
list(status_log_df['start_date'].apply(lambda x: x.strftime('%Y-%m')).drop_duplicates().sort_values(ascending=False))

['2022-08']

In [14]:
active_df

,index,work_id,name,client_id,memo,price,client,status_id,start_date,end_date,status
0,3,3,3,0,,3,A,1,2022-08-14,2022-08-21,确定开始
1,4,6,6,0,,1,A,1,2022-08-14,2022-08-21,确定开始
2,5,7,7,0,,1,A,1,2022-08-14,2022-08-21,确定开始
3,6,9,9,0,,1,A,1,2022-08-14,2022-08-21,确定开始
4,7,10,11,0,,1,A,1,2022-08-14,2022-08-21,确定开始
5,8,11,12,0,,1,A,1,2022-08-14,2022-08-21,确定开始
6,9,4,4,1,,1,AA,1,2022-08-14,2022-08-21,确定开始
7,10,5,5,1,,1,AA,1,2022-08-14,2022-08-21,确定开始

In [15]:
inactive_df

,index,work_id,name,client_id,memo,price,client,status_id,start_date,end_date,status
0,0,1,1,0,,2,A,4,2022-08-14 16:21:45.591428,2022-08-14 16:21:47.842365,工作完成
1,2,2,2,1,吱吱吱吱吱吱,2,AA,4,2022-08-14 16:42:59.316290,2022-08-14 16:43:01.748314,工作完成
2,1,8,8,0,,1,A,4,2022-08-14 16:43:03.179606,2022-08-14 16:43:04.997605,工作完成