In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from datetime import date

# Create empty dfs

In [97]:
# works
works_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'name': pd.Series(dtype = 'str'),
    'client_id': pd.Series(dtype = 'int'),
    'type_id': pd.Series(dtype = 'int'),
    'deposit': pd.Series(dtype = 'int'),
    'price': pd.Series(dtype = 'int'),
    'deposited': pd.Series(dtype = 'int'),
    'fully_paid': pd.Series(dtype = 'int'),
    'memo': pd.Series(dtype = 'str'),
    'client_requests': pd.Series(dtype = 'str'),
    'attachments': pd.Series(dtype = 'str')  # attachments separated by ,
})

In [98]:
# clients
clients_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'client': pd.Series(dtype = 'str'),
    'active': pd.Series(dtype = 'int'),
    'order': pd.Series(dtype = 'int')
})

In [99]:
# types
types_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'type': pd.Series(dtype = 'str'),
    'active': pd.Series(dtype = 'int'),
    'order': pd.Series(dtype = 'int')
})

In [100]:
# pre set status
status_df = pd.DataFrame({
    'id': [0, 1, 2, 3, 4, 5, 6],
    'status': [
        '预约/讨论',
        '确定开始',
        '已出demo',
        '修改细节',
        '工作完成',
        '取消',
        '其他'
    ]})

In [101]:
# status_log
status_log_df = pd.DataFrame({
    'id': pd.Series(dtype = 'int'),
    'work_id': pd.Series(dtype = 'str'),
    'status_id': pd.Series(dtype = 'int'),
    'start_date': pd.Series(dtype = 'datetime64[ns]'),
    'end_date': pd.Series(dtype = 'datetime64[ns]'),
    "timestamp": pd.Series(dtype = 'datetime64[ns]')
})

In [102]:
works_df.to_csv("works.csv", index = False)
clients_df.to_csv("clients.csv", index = False)
types_df.to_csv("types.csv", index = False)
status_df.to_csv("status.csv", index = False)
status_log_df.to_csv("status_log.csv", index = False)

# Add test data

In [ ]:
today = pd.to_datetime('today')
today

In [64]:
works0 = pd.DataFrame({'id': [0],
          'name': ["小星星"],
          'client_id': [1],
          'type_id': [1],
          'deposit': [1000],
          'price': [2000],
          'deposited': [1],
          'fully_paid': [0],
          'memo': ["加急"],
          'client_requests': ["request1"],
          'attachments': ['']          
         })
# works = works.append(works1, ignore_index = True)
works_df = pd.concat([works_df, works0])

In [65]:
works1 = pd.DataFrame({'id': [1],
          'name': ["欢乐颂"],
          'client_id': [0],
          'type_id': [0],
          'deposit': [3000],
          'price': [5000],
          'deposited': [0],
          'fully_paid': [0],
          'memo': ["做欢快点儿"],
          'client_requests': ["request2"],
          'attachments': ['']          
         })
# works = works.append(works2, ignore_index = True)
works_df = pd.concat([works_df, works1])

In [59]:
client0 = {'id': 0,
          'client': "A老师",
           'active': 1,
           'order': "1"
         }
clients_df = clients_df.append(client0, ignore_index = True)

In [60]:
client1 = {'id': 1,
          'client': "B老师",
           'active': 1,
           'order': "2"
         }
clients_df = clients_df.append(client1, ignore_index = True)

In [54]:
type0 = {'id': 0,
          'type': "编曲",
           'active': 1,
           'order': "1"
         }
types_df = types_df.append(type0, ignore_index = True)

In [55]:
type1 = {'id': 1,
          'type': "扒带",
           'active': 1,
           'order': "2"
         }
types_df = types_df.append(type1, ignore_index = True)

In [102]:
status_log_df = pd.DataFrame({
    'id': [0, 1, 2, 3],
    'work_id': [1, 1, 2, 2],
    'status_id': [0, 1, 1, 3],
    'start_date': [dt(2022, 1, 1), dt(2022, 7, 11), dt(2022, 7, 1), dt(2022, 7, 3)],
    'end_date': [dt(2022, 2, 1), dt(2022, 11, 1), dt(2022, 7, 3), dt(2022, 10, 1)],
    'timestamp':[dt.now(), dt.now(), dt.now(), dt.now()]
})

In [103]:
status_log_df.at[1, 'timestamp'] = dt.now()

In [104]:
status_log_df.at[3, 'timestamp'] = dt.now()

In [26]:
# works_df.to_csv("works.csv", index = False)
# clients_df.to_csv("clients.csv", index = False)
# types_df.to_csv("types.csv", index = False)
# status_df.to_csv("status.csv", index = False)
# status_log_df.to_csv("status_log.csv", index = False)

# Examine current dfs

In [2]:
works_df = pd.read_csv("works.csv")
status_log_df = pd.read_csv("status_log.csv", parse_dates = [3, 4, 5], date_parser = pd.to_datetime)
clients_df = pd.read_csv("clients.csv")
types_df = pd.read_csv("types.csv")
status_df = pd.read_csv("status.csv")

In [3]:
works_df

,id,name,client_id,type_id,deposit,price,deposited,fully_paid,memo,client_requests,attachments
0,1,以后的事,1,0,0,0,0,0,不着急慢慢来,NaN,NaN
1,2,妈,2,0,500,1500,1,1,NaN,NaN,NaN
2,3,文化卫士,3,0,1000,1500,1,1,进行曲,NaN,NaN
3,4,送别龙透关,0,0,0,3000,0,0,好好做,前面超级大管弦，后面酌情进鼓,NaN
4,5,如果你来龙马潭,0,0,0,2000,0,0,随便水水,NaN,NaN
5,6,守护,0,0,0,0,0,1,医保,NaN,NaN
6,7,水墨人生,0,0,0,2000,0,0,随便水水,NaN,NaN
7,8,儿歌8首,1,0,1400,6400,1,1,NaN,NaN,NaN
8,9,少年的梦,1,0,500,2000,1,1,鸡血励志6451,NaN,NaN
9,10,结巴十首串烧,4,0,500,2000,0,1,NaN,NaN,NaN
10,11,爱,4,0,1300,1300,1,1,NaN,NaN,NaN
11,12,美丽的蔷薇,3,0,500,2000,0,1,NaN,NaN,NaN
12,13,酱酒豪情,0,0,0,0,0,0,时间急，好好整,NaN,NaN
13,14,古蔺青春,0,0,0,3000,1,0,NaN,NaN,NaN
14,15,追光,0,0,0,3000,0,1,NaN,NaN,NaN
15,16,书剑中国风,6,0,0,1000,0,1,特殊，价格+分红,NaN,NaN
16,17,红星,0,0,0,3000,1,1,NaN,NaN,NaN
17,18,打古乡音,0,0,0,3000,0,1,NaN,NaN,NaN
18,19,水美上马,0,0,0,3000,0,1,NaN,NaN,NaN
19,20,黔之魂,3,0,1000,2000,1,1,NaN,NaN,NaN
20,21,致康大逆行者,3,0,1000,2000,1,1,NaN,NaN,NaN
21,22,0916,5,0,750,1500,1,1,NaN,NaN,NaN
22,23,怀念周逸群,3,0,1000,2000,1,1,NaN,NaN,NaN
23,24,玫瑰,4,0,1500,1500,1,1,NaN,NaN,NaN
24,25,不言不语,1,0,500,1500,1,0,NaN,NaN,NaN
25,26,坂田,1,3,800,1800,1,0,NaN,NaN,NaN
26,27,妫川恋,6,0,1000,3000,1,1,NaN,NaN,NaN
27,28,金兰高中,0,0,0,2000,0,0,21年做完一直没结,NaN,NaN
28,29,你是我意想不到的惊喜,1,0,0,1500,0,0,NaN,NaN,NaN
29,30,二小,3,0,1000,2000,1,1,NaN,NaN,NaN
30,31,偶攀新高,2,0,500,1500,1,1,NaN,NaN,NaN
31,32,阿里军歌,7,0,0,0,0,0,军歌进行曲价格未定,NaN,NaN
32,33,忠诚利剑,1,0,1000,2500,1,0,NaN,NaN,NaN
33,34,快乐阳光之歌\n,2,0,500,1500,1,1,NaN,NaN,NaN
34,35,海天1,1,0,500,3000,1,0,作曲编曲,NaN,NaN

In [4]:
clients_df

   id client  active  order
0   0     韩志       1      1
1   1    五线谱       1      2
2   2     新声       1      3
3   3    唐景洲       1      4
4   4     鲸鱼       1      5
5   5     蓝莓       1      6
6   6    王德龙       1      7
7   7     又一       1      8

In [5]:
types_df

   id type  active  order
0   0   编曲       1      1
1   2   扒带       1      2
2   1   配乐       1      3
3   3   舞蹈       1      4

In [6]:
status_log_df

,id,work_id,status_id,start_date,end_date,timestamp
0,1,1,1,2022-08-15 00:00:00.000000,2022-08-22 00:00:00.000000,2022-08-15 06:56:45.962026
1,2,2,1,2022-08-15 00:00:00.000000,2022-08-15 06:57:13.506991,2022-08-15 06:57:13.464491
2,2,2,3,2022-08-15 06:57:13.506991,2022-08-15 06:58:30.985828,2022-08-15 06:57:21.987481
3,4,3,1,2022-08-15 00:00:00.000000,2022-08-15 06:57:50.342039,2022-08-15 06:57:50.298538
4,4,3,3,2022-08-15 06:57:50.342039,2022-08-15 06:58:26.800334,2022-08-15 06:58:00.464295
...,...,...,...,...,...,...
75,76,33,1,2022-11-23 00:00:00.000000,2022-11-30 00:00:00.000000,2022-11-23 15:23:20.768063
76,77,34,1,2022-12-03 00:00:00.000000,2022-12-19 01:06:01.949068,2022-12-03 16:46:11.659920
77,78,35,1,2022-12-15 00:00:00.000000,2022-12-22 00:00:00.000000,2022-12-15 23:06:25.859888
78,78,34,4,2022-12-19 01:06:01.949068,2022-12-19 01:06:05.213587,2022-12-19 01:06:05.213587
79,79,31,4,2022-12-19 21:40:51.608675,2022-12-19 00:00:00.000000,2022-12-27 18:28:36.115404

In [7]:
status_df

   id  status
0   0   预约/讨论
1   1    确定开始
2   2  已出demo
3   3    修改细节
4   4    工作完成
5   5      取消
6   6      其他

# Play with the dfs

In [16]:

df

    work_id        name  client_id       memo  price client create_date
0         1        以后的事          1     不着急慢慢来      0    五线谱  2022-08-15
1         8        儿歌8首          1              6400    五线谱  2022-08-15
2         9        少年的梦          1   鸡血励志6451   2000    五线谱  2022-08-15
3        25        不言不语          1              1500    五线谱  2022-10-16
4        26          坂田          1              1800    五线谱  2022-10-21
5        29  你是我意想不到的惊喜          1              1500    五线谱  2022-11-01
6        33        忠诚利剑          1              2500    五线谱  2022-11-23
7        35         海天1          1       作曲编曲   3000    五线谱  2022-12-15
8         2           妈          2              1500     新声  2022-08-15
9        31        偶攀新高          2              1500     新声  2022-11-06
10       34    快乐阳光之歌\n          2              1500     新声  2022-12-03
11        3        文化卫士          3        进行曲   1500    唐景洲  2022-08-15
12       12       美丽的蔷薇          3              2000    唐景洲  2022-08-15
13       20         黔之魂          3              2000    唐景洲  2022-09-04
14       21      致康大逆行者          3              2000    唐景洲  2022-09-09
15       23       怀念周逸群          3              2000    唐景洲  2022-09-21
16       30          二小          3              2000    唐景洲  2022-11-03
17        4       送别龙透关          0        好好做   3000     韩志  2022-08-15
18        5     如果你来龙马潭          0       随便水水   2000     韩志  2022-08-15
19        6          守护          0         医保      0     韩志  2022-08-15
20        7        水墨人生          0       随便水水   2000     韩志  2022-08-15
21       13        酱酒豪情          0    时间急，好好整      0     韩志  2022-08-18
22       14        古蔺青春          0              3000     韩志  2022-08-31
23       15          追光          0              3000     韩志  2022-08-31
24       17          红星          0              3000     韩志  2022-08-31
25       18        打古乡音          0              3000     韩志  2022-08-31
26       19        水美上马          0              3000     韩志  2022-08-31
27       28        金兰高中          0  21年做完一直没结   2000     韩志  2022-10-30
28       10      结巴十首串烧          4              2000     鲸鱼  2022-08-15
29       11           爱          4              1300     鲸鱼  2022-08-15
30       24          玫瑰          4              1500     鲸鱼  2022-10-13
31       16       书剑中国风          6   特殊，价格+分红   1000    王德龙  2022-08-31
32       27         妫川恋          6              3000    王德龙  2022-10-25
33       22        0916          5              1500     蓝莓  2022-09-18
34       32        阿里军歌          7  军歌进行曲价格未定      0     又一  2022-11-16

In [18]:
df

,index,work_id,name,client_id,memo,price,client,create_date,status_id,status
0,0,1,以后的事,1,不着急慢慢来,0,五线谱,2022-08-15,1,确定开始
1,18,4,送别龙透关,0,好好做,3000,韩志,2022-08-15,4,工作完成
2,21,7,水墨人生,0,随便水水,2000,韩志,2022-08-15,4,工作完成
3,13,12,美丽的蔷薇,3,,2000,唐景洲,2022-08-15,4,工作完成
4,12,3,文化卫士,3,进行曲,1500,唐景洲,2022-08-15,4,工作完成
5,19,5,如果你来龙马潭,0,随便水水,2000,韩志,2022-08-15,4,工作完成
6,9,2,妈,2,,1500,新声,2022-08-15,4,工作完成
7,20,6,守护,0,医保,0,韩志,2022-08-15,4,工作完成
8,6,8,儿歌8首,1,,6400,五线谱,2022-08-15,4,工作完成
9,29,10,结巴十首串烧,4,,2000,鲸鱼,2022-08-15,4,工作完成
10,30,11,爱,4,,1300,鲸鱼,2022-08-15,4,工作完成
11,7,9,少年的梦,1,鸡血励志6451,2000,五线谱,2022-08-15,4,工作完成
12,22,13,酱酒豪情,0,时间急，好好整,0,韩志,2022-08-18,4,工作完成
13,25,17,红星,0,,3000,韩志,2022-08-31,4,工作完成
14,26,18,打古乡音,0,,3000,韩志,2022-08-31,4,工作完成
15,23,14,古蔺青春,0,,3000,韩志,2022-08-31,4,工作完成
16,27,19,水美上马,0,,3000,韩志,2022-08-31,4,工作完成
17,32,16,书剑中国风,6,特殊，价格+分红,1000,王德龙,2022-08-31,4,工作完成
18,24,15,追光,0,,3000,韩志,2022-08-31,4,工作完成
19,14,20,黔之魂,3,,2000,唐景洲,2022-09-04,4,工作完成
20,15,21,致康大逆行者,3,,2000,唐景洲,2022-09-09,4,工作完成
21,34,22,0916,5,,1500,蓝莓,2022-09-18,4,工作完成
22,16,23,怀念周逸群,3,,2000,唐景洲,2022-09-21,4,工作完成
23,31,24,玫瑰,4,,1500,鲸鱼,2022-10-13,4,工作完成
24,8,25,不言不语,1,,1500,五线谱,2022-10-16,4,工作完成
25,1,26,坂田,1,,1800,五线谱,2022-10-21,1,确定开始
26,33,27,妫川恋,6,,3000,王德龙,2022-10-25,4,工作完成
27,28,28,金兰高中,0,21年做完一直没结,2000,韩志,2022-10-30,4,工作完成
28,2,29,你是我意想不到的惊喜,1,,1500,五线谱,2022-11-01,1,确定开始
29,17,30,二小,3,,2000,唐景洲,2022-11-03,4,工作完成
30,10,31,偶攀新高,2,,1500,新声,2022-11-06,4,工作完成
31,5,32,阿里军歌,7,军歌进行曲价格未定,0,又一,2022-11-16,1,确定开始
32,3,33,忠诚利剑,1,,2500,五线谱,2022-11-23,1,确定开始
33,11,34,快乐阳光之歌\n,2,,1500,新声,2022-12-03,4,工作完成
34,4,35,海天1,1,作曲编曲,3000,五线谱,2022-12-15,1,确定开始